.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  background-color: var(--color-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  box-shadow: var(--shadow-light);

  &__logo {
    height: 7rem;
    margin-left: 2rem;
  }

  &__titulo {
    justify-self: start;
    font-family: 'Blinker', sans-serif;
    font-size: 7rem;
    color: var(--color-grey-light-1)
  }

}